nav
{
    box-shadow: 0px 0px 10px var(--color-border);
}

.nav-bar button{
    padding:.7rem;
    border-radius:5px;
    font-size:1.2rem;
}
body{
    width:100vw;
    background:var(--color-black);
    height:100vh;
    overflow: hidden;
    
}
nav{
    width:100vw;
}
.loged-user-info .page-name
{
    color:var(--color-text);
    font-size:1.5rem;
}

.post{
    width:100%;
    height:100px;
    margin:auto;
    /* padding:var(--card-padding); */
    border-radius:10px;
    background:var(--color-black);
    color:#fff;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: relative;
    cursor:pointer;
    border:solid 2px var(--color-border);
}
.icon{
    font-size:3rem;
}

.post input[type='file']{
    width:150px;
    position:absolute;
    transform:scale(2.5);
    left:30%;
    opacity:0;
    cursor: pointer;
}

textarea{
    border:solid 1px var(--color-border);
    width:100%;
    font-size:1.3rem;
    height:20vh;
    max-height:200px;
    color:var(--color-text);
    background:var(--color-black);
    color:var(--color-text);
    outline:none;
    border-radius:12px;
    padding:var(--card-padding);
    resize: none;
}

textarea::placeholder{
    color:var(--color-text);
    font-size:3rem;
    text-align: center;
}

form
{
    gap:1rem;
}

.submit .btn
{
    border:solid 2px var(--color-border);
}

main .container{
    grid-template-columns:16vw auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
header button{
    padding:.7rem;
    border-radius:5px;
    font-size:1.2rem;
}
header{
    width:100%;
    background:var(--color-black);
    color:var(--color-dark);
    padding:var(--card-padding);
    border-radius:10px;
}
header .name{
    text-align:right;
}

.middle .memo
{
    background:var(--color-black);
    color:var(--color-text);
    border-radius:10px;
}
.middle{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1vh;
    border-radius:10px;
    padding-top:var(--card-padding);
    position: static;
    top:0;
}

.middle form{
    border-radius:10px;
    position:sticky;
    top:5rem;
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    
}


.loged-user-info
{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0px 10px;
}

.item-cont
{
    max-height:65vh;
    overflow-y:scroll;
    background:var(--color-primary);
    border-radius:10px;
}

@media screen and (max-width: 992px){
    .side-bar .menu-item:nth-child(3)
    {
        display:flex;
    }


    .middle:last-child
    {
        display:none;
    }
    

    main .container{
        grid-template-columns:30vw auto !important;
    }

    .left .menu-item h3{
        display:inline-block ;
    }

}

@media screen and (max-width: 600px){
    main .container{
        grid-template-columns:auto !important;
    }

    .middle:last-child
    {
        display:none;
    }
    
    .item-cont
    {
        max-height:80vh;
    }

}


